<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="../script/lib/utils/rem/1.0.0/rem.js"></script>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../css/aui/2.1.0/aui.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="../fonts/iconfont.css" />-->
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_3lgvolbnswu680k9.css"/>
    <link rel="stylesheet" type="text/css" href="../css/conf/main_frm.css"/>
</head>

<body>
<div id="app" v-cloak class="aui-content-padded">
    <div class="card-li bg-default">
        <div class="card-li-inner">
            <div class="fl fc-2b2525 aui-font-size-18"><i class="iconfont icon-bingtu fc-1"></i><span>总览</span></div>
            <div class="fr fc-1b1515 aui-font-size-20">
                <span>{{total.balance}}</span>
                <span class="aui-font-size-12 fc-2b2525">余额</span>
            </div>
        </div>
        <section class="aui-grid">
            <div class="aui-row">
                <div class="aui-col-xs-4 fc-928f8f">
                    <div class="aui-grid-label">{{total.amount}}</div>
                    <div class="aui-grid-label">本金</div>
                </div>
                <div v-if="total.roseType != -1" class="aui-col-xs-4 fc-red">
                    <div class="aui-grid-label">+{{total.difference}}</div>
                    <div class="aui-grid-label">差额</div>
                </div>
                <div v-else class="aui-col-xs-4 fc-green">
                    <div class="aui-grid-label">-{{total.difference}}</div>
                    <div class="aui-grid-label">差额</div>
                </div>
                <div v-if="total.roseType != -1" class="aui-col-xs-4 fc-red">
                    <div class="aui-grid-label">+{{total.rose}}%</div>
                    <div class="aui-grid-label">涨幅</div>
                </div>
                <div v-else class="aui-col-xs-4 fc-green">
                    <div class="aui-grid-label">-{{total.rose}}%</div>
                    <div class="aui-grid-label">涨幅</div>
                </div>
            </div>
        </section>
    </div>
    <div id="jCardList">
        <div class="card-li" v-if="accountLists.length != 0" v-for="item in accountLists" v-bind:class="'bg-'+ item.color" v-on:click="goDetails(item)" tapmode>
            <div class="card-li-inner clear">
                <div class="fl fc-default">
                    <i class="iconfont fl" v-bind:class="icons[item.type]"></i>
                    <span class="name aui-ellipsis-1">{{item.name}}</span>
                    <span class="remark aui-font-size-14 fc-d7d7d7 aui-ellipsis-1">{{item.remark}}</span>
                </div>
                <div class="fr fc-default">
                    <span class="aui-font-size-18">{{item.balance}}</span>
                    <span class="aui-font-size-12 fc-d7d7d7">余额</span>
                </div>
            </div>
            <section class="aui-grid">
                <div class="aui-row">
                    <div class="aui-col-xs-4 fc-d7d7d7">
                        <div class="aui-grid-label">{{item.amount}}</div>
                        <div class="aui-grid-label">本金</div>
                    </div>
                    <div v-if="item.roseType != -1" class="aui-col-xs-4 fc-red">
                        <div class="aui-grid-label">+{{item.difference}}</div>
                        <div class="aui-grid-label">差额</div>
                    </div>
                    <div v-else class="aui-col-xs-4 fc-green">
                        <div class="aui-grid-label">-{{item.difference}}</div>
                        <div class="aui-grid-label">差额</div>
                    </div>
                    <div v-if="item.roseType != -1" class="aui-col-xs-4 fc-red">
                        <div class="aui-grid-label">+{{item.rose}}%</div>
                        <div class="aui-grid-label">涨幅</div>
                    </div>
                    <div v-else class="aui-col-xs-4 fc-green">
                        <div class="aui-grid-label">-{{item.rose}}%</div>
                        <div class="aui-grid-label">涨幅</div>
                    </div>
                </div>
            </section>
            <div class="showDate fc-d7d7d7">创建于:{{item.addDate}}</div>
            <div class="delete" v-on:click.stop="deleteAccount(item.id)" tapmode><i class="iconfont icon-delete fc-default aui-font-size-20"></i></div>
        </div>
    </div>
    <div class="card-li-add bg-default" v-on:click="addAccount()" tapmode>
        <div class="card-li-inner aui-font-size-16">
            <i class="iconfont icon-jia fl fc-928f8f"></i><span class="fc-928f8f">添加账户</span>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" data-main="../script/app" src="../script/lib/require/2.1.11/require.js"></script>
<script type="text/javascript" src="../script/app.js"></script>
<script type="text/javascript" src="../script/conf/common.js"></script>
<script type="text/javascript">
    apiready = function () {
        require(['api','vue','date'],function($api,Vue,date) {
            /**
             * @description: 新建一个类
             */
            function Main() {
                this.init();
                this.initUI();
                this.events();
            }

            /**
             * @description: 初始化参数(全局变量+常量)
             */
            Main.prototype.init = function() {
                var self = this;

                //缓存全局变量
                self.title = date.periods() + '好';

            };

            /**
             * @description: 初始化页面(首屏)
             */
            Main.prototype.initUI = function() {
                var self = this;

                var iconsArry = ['icon-xianjin','icon-yhk','icon-zfb','icon-weixin','icon-gupiao','icon-xunibi','icon-caipiao','icon-cxg','icon-licai'];
                var data = readFile('accounts');
                self.app = new Vue({
                    el: '#app',
                    data: {
                        accountLists: data.contents,
                        icons:iconsArry,
                        total:{
                            amount:'0.00',
                            balance:'0.00',
                            difference:'0.00',
                            rose:'0.00',
                            roseType:0
                        }
                    },
                    created:function () {
                        this.getTotal();
                    },
                    mounted:function () {
                        api.parseTapmode();
                    },
                    methods:{
                        goDetails:function (param) {
                            api.openWin({
                                name: 'accountDetail',
                                url: './accounts/accountDetail.html',
                                pageParam: {
                                    data:param
                                },
                                animation: {
                                    type:'push'
                                }
                            });
                        },
                        deleteAccount:function (id) {
                            api.confirm({
                                title: '删除账户提示',
                                msg: '你真的要删除这个账户吗?',
                                buttons: ['确定', '取消']
                            }, function(ret, err) {
                                var index = ret.buttonIndex;
                                if(index == 1){
                                    deleteData('accounts',id,'删除成功');
                                    self.app.refreshPage();
                                }
                            });
                        },
                        addAccount:function () {
                            openWin('add', './accounts/add.html');
                        },
                        getTotal:function () {
                            var dataArry = this.accountLists;
                            if(dataArry.length != 0){
                                var totalAmount = 0.00,totalBalance = 0.00,totalDifference,totalRose,totalRoseType = 0;
                                for(var i = 0; i < dataArry.length; i++){
                                    var amount = strToFloat(dataArry[i].amount);
                                    var balance = strToFloat(dataArry[i].balance);
                                    totalAmount = totalAmount + amount;
                                    totalBalance = totalBalance + balance;
                                }
                                totalDifference = (totalBalance - totalAmount).toFixed(2);
                                if(totalDifference > 0){
                                    totalRoseType = 1;
                                }else if(totalDifference < 0){
                                    totalRoseType = -1;
                                }
                                totalRose = getPercent(totalAmount,totalDifference);
                                this.total = {
                                    amount:totalAmount,
                                    balance:totalBalance,
                                    difference:totalDifference,
                                    rose:totalRose,
                                    roseType:totalRoseType
                                }
                            }
                        },
                        refreshPage:function () {
                            var data = readFile('accounts');
                            this.accountLists = data.contents;
                            this.getTotal();
                        }
                    }
                });
            };

            /**
             * @description: 事件管理
             */
            Main.prototype.events = function() {
                var self = this;

                api.addEventListener({
                    name: 'addAccountSuccess'
                }, function(ret, err){
                    self.app.refreshPage();
                });

                api.addEventListener({
                    name: 'addAccountUpdate'
                }, function(ret, err){
                    self.app.refreshPage();
                });
            };

            /**
             * @description: ajax管理
             */
            Main.prototype.https = function() {
                var self = this;
                return {

                };
            };

            /**
             * @description: 方法管理
             */
            Main.prototype.methods = function() {
                var self = this;
                return {

                };
            };

            new Main();
        });
    };
</script>

</html>
