body{
    background-color: #F0F0F0;
}
/*头部start*/
.aui-bar-nav {
    background-color: #00a2ac;
}
.aui-btn:active{
    color: #ffffff;
}
/*头部end*/
/*背景颜色组*/
.bg-default{ //默认白色
    background-color: #ffffff;
}
.bg-0{ // 现金默认色
    background-color: #269d80;
}
.bg-1{ // 储蓄卡默认色_主题色
    background-color: #00a2ac;
}
.bg-2{ // 支付宝默认色
    background-color: #00a0e8;
}
.bg-3{ // 微信钱包默认色
    background-color: #5ac64f;
}
.bg-4{ // 投资账户默认色
    background-color: #ff2121;
}
.bg-5{ // 虚拟币账户默认色
    background-color: #f00056;
}
.bg-6{ // 彩票账户默认色
    background-color: #f20c00;
}
.bg-7{ // 固定理财默认色
    background-color: #d96831;
}
.bg-8{ // 其它账户默认色
    background-color: #1685a9;
}
.bg-9{
    background-color: #fbb217;
}
.bg-10{
    background-color: #014d67;
}
.bg-11{
    background-color: #cdb380;
}
.bg-12{
    background-color: #036564;
}
.bg-13{
    background-color: #83af9b;
}
.bg-14{
    background-color: #00bfff;
}
.bg-15{
    background-color: #220807;
}
.bg-16{
    background-color: #764d39;
}
.bg-17{
    background-color: #5f5f33;
}
.bg-18{
    background-color: #b3d66e;
}
.bg-19{
    background-color: #f8931d;
}
.bg-20{
    background-color: #726f80;
}
.bg-21{
    background-color: #593d43;
}
.bg-22{
    background-color: #033649;
}
.bg-23{
    background-color: #608f9f;
}
.bg-24{
    background-color: #899dc0;
}
.bg-25{
    background-color: #fe4365;
}
.bg-26{
    background-color: #fc9d9a;
}
.bg-27{
    background-color: #a11715;
}
.bg-28{
    background-color: #031634;
}
/*字体颜色组*/
.fc-default{
    color: #ffffff;
}
.fc-0{
    color: #269d80;
}
.fc-1{
    color: #00a2ac;
}
.fc-2{
    color: #00a0e8;
}
.fc-3{
    color: #5ac64f;
}
.fc-4{
    color: #ff2121;
}
.fc-5{
    color: #f00056;
}
.fc-6{
    color: #f20c00;
}
.fc-7{
    color: #d96831;
}
.fc-8{
    color: #1685a9;
}
.fc-red{ //涨
    color: red;
}
.fc-green{ //跌
    color: green;
}
.fc-d7d7d7{ //浅灰_边框色
    color: #d7d7d7;
}
.fc-928f8f{ //灰色_标签色
    color: #928f8f;
}
.fc-2b2525{ //灰黑_主字体色
    color: #2b2525;
}
.fc-1b1515{ //黑色
    color: #1b1515;
}
/*字体样式*/
.fc-bold{
    font-weight: bold;
}
/* 浮动 */
.fl{
    float: left;
}
.fr{
    float: right;
}

/* 清除浮动 */
.clear:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.clear {
    *zoom: 1;
}
.aui-btn:active{
    color: #fff;
}
