@import "./common";
.card-li{
    position: relative;
    margin: 0.75rem 0;
    padding: 0 0.75rem;
    height: 3rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    .card-li-inner{
        line-height: 3rem;
        .iconfont{
            margin-right: 0.35rem;
            font-size: 1.5rem;
        }
        .name{
            position: absolute;
            left: 2.6rem;
            top:-0.5rem;
            width: 8rem;
        }
        .remark{
            position: absolute;
            left: 2.6rem;
            bottom: -0.5rem;
            width: 8rem;
        }
    }
}
