@import "./common";
.aui-grid{
    padding: 0 0.75rem;
    background: transparent;
}
.aui-grid [class*=aui-col-]{
    padding: 0;
}
.aui-grid [class*=aui-col-xs-]:active{
    background: transparent;
}
.card-li{
    position: relative;
    margin: 0.75rem 0;
    height: 6.6rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    .aui-grid-label{
        margin-top: 0;
    }
    .card-li-inner{
        padding: 0 0.75rem;
        height: 3rem;
        line-height: 3rem;
        .iconfont{
            margin-right: 0.35rem;
            font-size: 1.5rem;
        }
        .name{
            position: absolute;
            left: 2.6rem;
            top:-0.5rem;
            width: 8rem;
        }
        .remark{
            position: absolute;
            left: 2.6rem;
            top: 0.5rem;
            width: 8rem;
        }
    }
    .showDate{
        position: absolute;
        bottom: 0.3rem;
        margin-left: 0.75rem;
        font-size: 0.6rem;
    }
    .delete{
        position: absolute;
        bottom: 0;
        right: 0.2rem;
    }
}
.card-li-add{
    position: relative;
    margin: 0.75rem 0;
    height: 3rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    .card-li-inner{
        padding: 0 0.75rem;
        height: 3rem;
        line-height: 3rem;
        .iconfont{
            margin-right: 0.35rem;
            font-size: 1.5rem;
        }
    }
}
