@import "../common";
.welcome-tip{
    text-align: center;
    .icon-keai{
        font-size: 6rem;
    }
    .tip{
        p{
            font-size: 1rem;
            color: #269d80;
        }
    }
    .guide{
        position: fixed;
        bottom: 1rem;
        width: 100%;
        margin-left: -0.75rem;
        .icon-arrows-5-5{
            font-size: 2rem;
        }
    }
}